/* Reset some default styling */
body, h1, h2, p, ul, li, form {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #222;
  color: #fff;
}

header {
  background-color: #333;
  padding: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

h1, h2 {
  color: #fff;
}

.project {
  background-color: #444;
  padding: 20px;
  margin-bottom: 20px;
}

.project h2 {
  color: #fff;
}

.project p {
  color: #ccc;
}

.project-link {
  display: inline-block;
  background-color: #666;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
}

.contact-content {
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #444;
  border: none;
  color: #fff;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #666;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}
